DB_HOST=postgres
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=project_1

CONFIG_SCHEMA=config
BRONZE_SCHEMA=bronze
SILVER_SCHEMA=silver
GOLD_SCHEMA=gold

PGADMIN_EMAIL=admin@mail.com
PGADMIN_PASSWORD=admin

PARQUET_OUTPUT_DIR=data/gold
DEFAULT_START_DATE=2026-01-01

SB_API_KEY=56958f33c3a94a3db936700baf5a3c90